<div class="login">
  <h1>Login to start session</h1>
  <form class="signup-form" action="/auth/login" method='post'>
    <div><label for="username">Username: </label>
    <input class="font-awesome" type='text' size="20" name="username" placeholder="&#xf007; &nbsp; your username" /></div>
    <div><label for="password">Password: </label>
    <input class="font-awesome" type='password' size="20" name="password" placeholder="&#xf13e; &nbsp; your password" /></div>
    <input class="button" type="submit" value="send">
  </form>
  If you have not signed up yet, <a class="login-link" href="/auth/signup">sign up here.</a>
</div>
