<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>
<body>
  <h1>Signup Page</h1>
  
  <form class="signup-form" action="/auth/signup" method='post'>
    <div><label for="username">Username: </label>
    <input type='text' size="20" name="username" required></div>
    <div><label for="password">Password: </label>
    <input type='password' size="20" name="password" required></div>
    <div><label for="artist">Artist: </label>
    <input type="radio" id="artist" name="artist" value="artist" required></div>
    <div><label for="space-owner">Space owner: </label>
    <input type="radio" id="space-owner" name="artist" value="space-owner"></div>
    <input class="submit-button" type="submit" value="send">
  </form>

</body>
</html>