<!DOCTYPE html>
<html>
  <head>
    <title>Linkyart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include ../partials/artypartial.ejs %>
    <div class="container">
      <%- body %>
    </div>
    <footer class="footer">
      <span class="footer-text">Developed by Åsa Eriksson and Esaú Jover ;)</span>
    </footer>

  </body>
</html>