<!DOCTYPE html>
<html>
  <head>
    <title>Linkyart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include ../partials/artypartial.ejs %>
    <%- body %>
    <footer class="footer">
      Developed by Åsa Eriksson and Esau Jover ;)
    </footer>

  </body>
</html>