<!DOCTYPE html>
<html>
  <head>
    <title>Linkyart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/artypartial.ejs %>
    <div class="container">
      <h1>Linkyart</h1>
      <p>Welcome to Linkyart</p>
    </div>
  </body>
</html>
