<div class="container">
  <div class="picture-exhibitors pics container">
    <h2>Looking for an Exhibitor</h2>
    <h3>We Art the world!</h3>
  </div>
  <div class="picture-artists pics container"> 
    <h2>Looking for an Artist?</h2>
    <h3>We Art the world!</h3>
  </div>

  <div class="linkyart backplate">
    <%- include('partials/notifications') %>
  </div>
</div>
