<div class="not-found backplate">
  <h1>404</h1>
  <p>Page not found</p>
  <a href='/' class="not-found-button"><p>Return to previous page<p></a>
  <div><img src="/images/close_icon_new.png" width="150px"></div>
</div>