<div class="signup-h">
  <h3>404 Page not found</h3>
</div>
<div class="not-found backplate">
  <p>The page you requested was not found.</p>
  <div><img class="not-found-img" src="/images/close_icon_new.png"></div>
  <a href='/' class="button">Home</a>
</div>