/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
  background-image: url('../images/photo-1530482817083-29ae4b92ff15.jpeg');
  background-repeat: none;
  background-size: cover;
  z-index: 1;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Minion Pro', Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  color: #fff;
  font-size: 32px;
}

h2 {
  color: #323230;
}

h3 {
  line-height: 125%;
  color: #323230;
}

p {
  margin: 0;
}

/* ---- layout ---- */

#site-footer {
  color: white;
  padding: 60px 0;
  background: #323230;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section {
  padding: 30px;
}

/* ---- responsive ---- */

@media (max-width: 768px) {
  body {
    padding-top: 115px;
  }

  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  img.logo {
    display: flex;
    align-items: center;
    width: 150px;
  }

  nav.navbar {
    padding: 0 20px;
    z-index: 20;
  }

  ul.signup-and-login {
    flex-direction: column;
  }

  ul.nav-bar a {
    border: 1px solid grey;
    padding: 6px 15px;
    width: 80rem;
    text-align: center;
    font-size: 14px;
  }

  .senders-div, .receivers-div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .spaces {
    margin: 10px;
  }

  .picture-exhibitors {
    height: 400px;
    width: 100%;
  }
  
  .picture-artists {
    height: 400px;
    width: 100%;
  }

  .box {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 130px;
  }

  .container {
    width: 728px;
    margin: 0 auto;
  }

  nav.navbar {
    padding: 0 50px;
    z-index: 20;
  }

  img.logo {
    display: flex;
    width: 200px;
    align-items: center;
    margin: 10px;
  }

  ul.nav-bar a {
    border: 1px solid grey;
    padding: 10px 20px;
    width: 100rem;
    text-align: center;
  }

  .sender-receiver {
    display: flex;
  }

  .receivers-div, .senders-div {
    margin: 10px;
  }

  .spaces-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .spaces {
    margin: 10px;
  }

  .picture-exhibitors {
    height: 400px;
    width: 100%;
  }
  
  .picture-artists {
    height: 400px;
    width: 100%;
  }

  .box {
    padding-top: 50px;
  }
}

/* ---- components ---- */

.button {
  padding: 15px;
  background-image: linear-gradient(to right, #71f1fb 0%, #ad97de 100%);
  color: white;
  font-size: 16px;
  border-radius: 30px;
  width: 100px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 20px grey;
  display: block;
}

.backplate a {
  text-decoration: none;
}

.button:hover {
  background-image: linear-gradient(to right, #ad97de 0%, #71f1fb 100%);
  color: #323230;
}

.logout-button, .user-name {
  color: white;
  font-size: 16px;
  background-color: #323230;
  border: none;
}

.cursor {
  cursor: pointer;
}

.user-name {
  padding: 5px;
}

.backplate {
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  border-radius: 0 0 10px 10px;
  border-style: none;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

.backplate-index {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border-style: none;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
  width: 300px;
  text-align: center;
}

.button-box {
  display: flex;
  justify-content: center;
}

.button-box p {
  padding: 3px;
}

.button-box a {
  padding: 13px !important;
}

.button-edit {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
}

i {
  color:#71f1fb;
  border: 5px solid #71f1fb;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 0 20px grey;
}

.rounded {
  border-radius: 30px;
  border: none;
  background-color: lightgrey;
  width: 250px;
}

/* ---- alerts ---- */

.alert-danger {
  border: 1px solid darkred;
  color: darkred;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}

.alert-info {
  border: 1px solid darkblue;
  color: darkblue;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}

.error, .not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.not-found-img {
  padding: 10px;
  width: 160px;
}

.problem-loading {
  width: 150px;
}

/* ---- navbar ---- */

nav.navbar {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: #323230;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

div.navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.btn:hover, .active {
  background-color: rgba(173, 151, 222, 0.3);
}

ul.signup-and-login {
  display: flex;
  list-style-type: none;
}

.signup-and-login li a {
  padding-left: 20px;
  color: white;
  text-decoration: none;
}

.signup-and-login li a:hover {
  color: #71f1fb;
}

/* ---- index ---- */

.picture-exhibitors {
  background-image: url('/images/art_business.jpg');
  background-size: cover;
}

.picture-artists {
  background-image: url('/images/sickles-events-593.jpg');
  background-size: cover;
}

/* ---- signup form ---- */

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form div {
  padding: 10px 0;
}

.signup-h {
  background-image: linear-gradient(to right, #71f1fb 0%, #ad97de 100%);
  padding: 10px;
  width: 300px;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
}

input[type="radio"] {
  margin-left: 10px;
}

.radio {
  display: flex;
  margin-left: 15px;
}

/* ---- login form ---- */

input.font-awesome {
  font-family: 'Minion Pro', FontAwesome, Arial, sans-serif;
  font-size: 0.8rem;
  padding: 15px;
  margin-left: 10px;
}

/* ---- profile page ---- */

.profile {
  display: flex;
  align-items: center;
}

.signup-h h3 {
  padding: 10px;
}

.backplate p, .backplate a {
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* ---- messages ---- */

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-div {
  margin: 10px;
}

/* ---- spaces ---- */
.spaces-img {
  width: 275px;
  height: 200px;
  border: 1px solid #323230;
  overflow: hidden;
}

/* ---- profile ---- */
form.profile-form b {
  margin: 15px;
}

.profile-form .rounded {
  margin-bottom: 15px;
}

.profile-image ul li {
  list-style-type: none;
}

.profile-image ul {
  padding-left: 15px;
}

/* ---- footer ---- */
footer.footer {
  background-color: #323230;
  padding: 10px 20px;
  color: white;
  font-weight: 100;
}

.footer-text {
  font-size: 13px;
  font-weight: 100;
}