/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  color: #283c4f;
  font-family: 'Minion Pro', Arial, sans-serif;
  font-size: 32px;
}

h2 {}

h3 {}

p {
  margin: 0;
}

/* ---- layout ---- */

#site-footer {
  color: white;
  padding: 60px 0;
  background: #283c4f;
}

.container {
  padding: 50px 0;
}

.section {
  padding: 30px;
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.submit-button {
  padding: 15px;
  background-color: #283c4f;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  width: 100px;
  margin: 10px 0;
}

.submit-button:hover {
  background-color: #71f1fb;
  color: #283c4f;
}

/* ---- navbar ---- */

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283c4f;
  padding: 20px 50px;
}

img.logo {
  width: 200px;
}

ul.signup-and-login {
  display: flex;
  list-style-type: none;
}

.signup-and-login li a {
  padding-left: 20px;
  color: white;
  text-decoration: none;
}

.signup-and-login li a:hover {
  color: #71f1fb;
}

/* ---- signup form ---- */

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form div {
  padding: 10px 0;
}

/* ---- login form ---- */

a.login-link {
  text-decoration: none;
}

/* ---- footer ---- */
footer.footer {
  background-color: #283c4f;
  padding: 20px 50px;
  color: white;
  font-weight: 100;
}