<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail of Spaces</title>
</head>
<body>

  <%= space.name %>
  <form action="/spaces/<%= space._id %>" method="post">
    <button type="submit">Send a Request</button>
  </form>
  
</body>
</html>