<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List of Spaces</title>
</head>
<body>
<ul>
  <% spaces.forEach(space => { %>
    <li><%= space.name %>
    <button><a href="/spaces/<%= space._id %>">See more</a></button></li>
  <% }) %>
  </ul>
</body>
</html>