<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List of Artist</title>
</head>
<body>
<ul>
  <% users.forEach(user => { %>
    <li><%= user.name %> <%= user.username %>
    <button><a href="/artists/<%= user._id %>">See more</a></button></li>
  <% }) %>
  </ul>
</body>
</html>